*{
    padding: 0px;
    margin: 0px;
    font-family: "AvenirNextLTPro",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}
body{
    padding: 0px;
    margin: 0px;
    font-family: "AvenirNextLTPro",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}
.d-flex{
    display: flex;
}
.ai-center{
    align-items: center;
}
.container{
    width: 100%;
}
.wrapper{
    margin: 16px auto;
 
    width: 1202px;
    justify-content: space-between;
}
/* Main Header or NavBar */
.main-header{
    height: 6rem;
}
.main-nav{
    list-style: none;
}
.nav-item a{
    text-decoration: none;
    padding: 0.75rem 1rem;
    color: black;
}
.nav-item .log-in{
    color: #0069e0;
}
.nav-item .upgrade-storage{
    padding: 0.3875rem 0.75rem;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 0.1875rem;
    color: #fff;
    background-color: #0069e0;
    border-color: #0069e0;
}

/* Jumbotron */
.jumbotron{
    padding-top: 101px;
    text-align: center;
    color: #fff;
    text-decoration: none;
    padding-bottom: 282px;
    background: url(assets/jumbotron.svg) no-repeat center 18px #2c3038;
}
.display-1{
    font-family: "AvenirNextLTPro",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    margin-bottom: 23px;
    font-size: 3.75rem;
    font-weight: 200;
    line-height: 1.1;
    color: #fff;
    text-align: center;
}
.lead{
    margin: 0 auto 24px;
}
.d-sm-block{
    display: block;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 300;
    color: #fff;
}
.btn-download{
    text-align: center;
    margin-bottom: 1.25rem;
}
.btn-download p a{
    display: inline-block;
    padding: 0.3125rem 1rem;
    font-size: 1.5rem;
    line-height: 1.5;
    border-radius: 0.1875rem;
    font-weight: 200;
    text-decoration: none;
    color: #fff;
    background-color: #cc2936;
    border-color: #cc2936;
}

.platforms{
    font-size: .875rem;
    margin-bottom: 0;
}
.platforms a{
    color: #fff;
}
.zotero-bib{
    font-size: .875rem;
    margin-top: 0.875rem;
}
.zotero-bib a{
    color: #fff;
}

/* ScreenShot */

.section-screenshot{
    width: 100%;
    margin-top: -12rem;
    background: none;
    padding-bottom: 0;
}
.screenshot{
    display: flex;
    justify-content: center;
}
.section-screenshot img{
    margin: auto;
    width: 1170px;
    aspect-ratio: auto 1170 / 658;
}